<div class="form">
    <form class="login">    
		<h2 class="formLabel" id="login">
            &#128640;&nbsp;Log in            
        </h2>
			<div class="formPanel">
				<input type="text" id="loginUsername" class="input" placeholder="Username" />
			    <input type="password" id="loginPassword" class="input" placeholder="Password" />
			</div>
			    <button type="submit" id="loginBtn" class="submit-btn">
                    Log In
                </button>
    </form>
	<form class="register slide-up">
		<div class="center">
            <h2 class="formlabel" id="register">&#128203;&nbsp;Sign up</h2>
		<div class="formPanel">
			<input type="text" id="registerUsername" class="input" placeholder="Username" />			
			<input type="password" id="registerPassword" class="input" placeholder="Password" />
		</div>
		<button type="submit" id="registerBtn" class="submit-btn">Register</button>			
		</div>
	</form>
</div>


<script src="/javascript/panels.js"></script>